# Importing Libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

# Reading Data

In [2]:
Vegan = pd.read_csv("Dataset/Datafiniti_Vegetarian_and_Vegan_Restaurants.csv")

In [3]:
print(Vegan.shape)
print(Vegan.columns)

(10000, 47)
Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'claimed', 'country', 'cuisines',
       'descriptions.dateSeen', 'descriptions.sourceURLs',
       'descriptions.value', 'facebookPageURL', 'features.key',
       'features.value', 'hours.day', 'hours.dept', 'hours.hour', 'imageURLs',
       'isClosed', 'keys', 'languagesSpoken', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.category',
       'menus.currency', 'menus.dateSeen', 'menus.description', 'menus.name',
       'menus.sourceURLs', 'name', 'paymentTypes', 'phones', 'postalCode',
       'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax', 'province',
       'sic', 'sourceURLs', 'twitter', 'websites', 'yearOpened'],
      dtype='object')

In [4]:
Vegan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       10000 non-null  object
 1   dateAdded                10000 non-null  object
 2   dateUpdated              10000 non-null  object
 3   address                  10000 non-null  object
 4   categories               10000 non-null  object
 5   primaryCategories        10000 non-null  object
 6   city                     10000 non-null  object
 7   claimed                  689 non-null    object
 8   country                  10000 non-null  object
 9   cuisines                 10000 non-null  object
 10  descriptions.dateSeen    0 non-null      float64
 11  descriptions.sourceURLs  0 non-null      float64
 12  descriptions.value       0 non-null      float64
 13  facebookPageURL          937 non-null    object
 14  features.key             0 non-null      float64
 15  features.value           0 non-null      float64
 16  hours.day                0 non-null      float64
 17  hours.dept               0 non-null      float64
 18  hours.hour               0 non-null      float64
 19  imageURLs                5134 non-null   object
 20  isClosed                 37 non-null     object
 21  keys                     10000 non-null  object
 22  languagesSpoken          0 non-null      float64
 23  latitude                 10000 non-null  float64
 24  longitude                10000 non-null  float64
 25  menuPageURL              10000 non-null  object
 26  menus.amountMax          10000 non-null  float64
 27  menus.amountMin          10000 non-null  float64
 28  menus.category           5930 non-null   object
 29  menus.currency           9947 non-null   object
 30  menus.dateSeen           10000 non-null  object
 31  menus.description        3987 non-null   object
 32  menus.name               10000 non-null  object
 33  menus.sourceURLs         10000 non-null  object
 34  name                     10000 non-null  object
 35  paymentTypes             3873 non-null   object
 36  phones                   10000 non-null  object
 37  postalCode               10000 non-null  object
 38  priceRangeCurrency       6327 non-null   object
 39  priceRangeMin            6327 non-null   float64
 40  priceRangeMax            6327 non-null   float64
 41  province                 10000 non-null  object
 42  sic                      140 non-null    float64
 43  sourceURLs               10000 non-null  object
 44  twitter                  1958 non-null   object
 45  websites                 8183 non-null   object
 46  yearOpened               91 non-null     float64
dtypes: float64(17), object(30)
memory usage: 3.6+ MB

In [3]:
Vegan

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,claimed,country,cuisines,...,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province,sic,sourceURLs,twitter,websites,yearOpened
0,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
1,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
2,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
3,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
4,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN
9996,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN
9997,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN
9998,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN
9999,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN

# Nulls

In [6]:
(Vegan.isnull().sum()).sort_values(ascending=False)

features.value             10000
descriptions.dateSeen      10000
languagesSpoken            10000
hours.hour                 10000
hours.dept                 10000
hours.day                  10000
features.key               10000
descriptions.value         10000
descriptions.sourceURLs    10000
isClosed                    9963
yearOpened                  9909
sic                         9860
claimed                     9311
facebookPageURL             9063
twitter                     8042
paymentTypes                6127
menus.description           6013
imageURLs                   4866
menus.category              4070
priceRangeMin               3673
priceRangeMax               3673
priceRangeCurrency          3673
websites                    1817
menus.currency                53
postalCode                     0
phones                         0
sourceURLs                     0
name                           0
menus.sourceURLs               0
province                       0
menus.name                     0
id                             0
menus.dateSeen                 0
menus.amountMin                0
menus.amountMax                0
menuPageURL                    0
longitude                      0
dateAdded                      0
keys                           0
cuisines                       0
country                        0
city                           0
primaryCategories              0
categories                     0
address                        0
dateUpdated                    0
latitude                       0
dtype: int64

In [9]:
(Vegan.isnull().sum() / len(Vegan)).sort_values(ascending=False)

features.value             1.0000
descriptions.dateSeen      1.0000
languagesSpoken            1.0000
hours.hour                 1.0000
hours.dept                 1.0000
hours.day                  1.0000
features.key               1.0000
descriptions.value         1.0000
descriptions.sourceURLs    1.0000
isClosed                   0.9963
yearOpened                 0.9909
sic                        0.9860
claimed                    0.9311
facebookPageURL            0.9063
twitter                    0.8042
paymentTypes               0.6127
menus.description          0.6013
imageURLs                  0.4866
menus.category             0.4070
priceRangeMin              0.3673
priceRangeMax              0.3673
priceRangeCurrency         0.3673
websites                   0.1817
menus.currency             0.0053
postalCode                 0.0000
phones                     0.0000
sourceURLs                 0.0000
name                       0.0000
menus.sourceURLs           0.0000
province                   0.0000
menus.name                 0.0000
id                         0.0000
menus.dateSeen             0.0000
menus.amountMin            0.0000
menus.amountMax            0.0000
menuPageURL                0.0000
longitude                  0.0000
dateAdded                  0.0000
keys                       0.0000
cuisines                   0.0000
country                    0.0000
city                       0.0000
primaryCategories          0.0000
categories                 0.0000
address                    0.0000
dateUpdated                0.0000
latitude                   0.0000
dtype: float64

# Duplicated Values

In [12]:
(Vegan.any().duplicated() / len(Vegan)).sort_values(ascending=False)

latitude                   0.0001
paymentTypes               0.0001
menus.amountMax            0.0001
menus.amountMin            0.0001
menus.category             0.0001
menus.currency             0.0001
menus.dateSeen             0.0001
menus.description          0.0001
menus.name                 0.0001
menus.sourceURLs           0.0001
name                       0.0001
phones                     0.0001
longitude                  0.0001
postalCode                 0.0001
priceRangeCurrency         0.0001
priceRangeMin              0.0001
priceRangeMax              0.0001
province                   0.0001
sic                        0.0001
sourceURLs                 0.0001
twitter                    0.0001
websites                   0.0001
menuPageURL                0.0001
yearOpened                 0.0001
dateAdded                  0.0001
languagesSpoken            0.0001
dateUpdated                0.0001
address                    0.0001
categories                 0.0001
primaryCategories          0.0001
city                       0.0001
claimed                    0.0001
country                    0.0001
cuisines                   0.0001
descriptions.sourceURLs    0.0001
descriptions.value         0.0001
facebookPageURL            0.0001
features.key               0.0001
features.value             0.0001
hours.day                  0.0001
hours.dept                 0.0001
hours.hour                 0.0001
imageURLs                  0.0001
isClosed                   0.0001
keys                       0.0001
descriptions.dateSeen      0.0000
id                         0.0000
dtype: float64

# Outliers

In [ ]:
quantile1, quantile3 = np.percentile(Vegan[''], [25,75])
print(f'Quantile 1: {quantile1} | Quantile 3: {quantile3}')

iqr = quantile3 - quantile1 # interquantile range
print(f'\nInterquantile range: {iqr}')

lower_bound = quantile1 - (1.5 * iqr)
upper_bound = quantile3 + (1.5 * iqr)

print(f'\nLower bound: {lower_bound} | Upper bound: {upper_bound}')

print('\nMin value of "" column: ', Vegan[''].min(), ' |  Max value: ', Vegan[''].max())

outliers = Vegan[Vegan[''] > upper_bound]['Model']
print(f"\nQuantity of Outliers: {len(outliers.unique())}")

print(f"\nModels of the outliers: {outliers.unique()}")